<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI STOCK PREDICTOR</title>
</head>
<body>
    <h1 style="text-align: center;">AI STOCK PREDICTOR</h1>

    <h2>Top Stocks</h2>
    <ul>
        {% for stock in topStocks %}
            <li>{{ stock[0] }}: {{ stock[1] }}</li>
        {% endfor %}
    </ul>

    <h2>Bottom Stocks</h2>
    <ul>
        {% for stock in bottomStocks %}
            <li>{{ stock[0] }}: {{ stock[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
