<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuturiStock</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">FuturiStock</h1>

        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-3">Top Stocks</h2>
                <ul class="list-group">
                    {% for stock in stock_predictor.top %}
                        <li class="list-group-item green">{{ stock[0] }}: +{{ stock[1]|round(4) }} $ </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6">
                <h2 class="mb-3">Bottom Stocks</h2>
                <ul class="list-group">
                    {% for stock in stock_predictor.bottom %}
                        <li class="list-group-item red">{{ stock[0] }}: {{ stock[1]|round(4) }} $ </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    

</body>
</html>