<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
    <title></title>
</head>
<body>
    <div class="body">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="base">
            <span></span>
            <div class="face"></div>
        </div>
        <div class="longfazers">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>Loading</h1>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
